html, body {
     height: 100%;
     font-family: 'Roboto', sans-serif;
}
 .container-fluid, .row {
     height: 100% 
}
.container-fluid{
    background-image: url(/images/login-bg.gif);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: left;
    background-color: #E3E3E3
}
.overlay{
     background:rgb(0,0,0,0.5);
}
 .nav {
     padding: 0px 
}
 .navoptions {
     float: right;
     text-transform: uppercase;
}
 .navbar {
     text-align: center;
}
 .navbar strong {
     font-size: 20px;
     text-transform: uppercase;
}
 .form {
     margin: 50px 0px 0px 0px;
}
