  #map{
    height: 250px;
    width: 400px;
    padding: 20px 20px 20px 50px
  }
  li{
    list-style: none;
  }
  .button{
    padding:10px;
    text-align: center;
  }

  .modal-footer .button-modal{
    color: white;
    background-color: black;
    padding:6px   
  }
  .ordered button{
    float:right;
    padding: 10px;
    color: white!important;
    background-color: black!important;
    margin-top: 40px;
    margin-right:20px
  }

  .order-modal {
    height: 160px;
    text-align: center;

  }